/* CREDENTIALS */
.credentials {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 35px 0;
    border-bottom: 1px solid #f2f3f8;
  }
  
  .seen-text {
    font-size: 20px;
    font-weight: 500;
    color: #ccd0d9;
    text-transform: uppercase;
    letter-spacing: 1.5px;
  }
  
  .credential {
  
  }